# dependencies (à n'importe quel niveau)
node_modules/
.pnp/
.pnp.js

# Next.js build outputs (à n'importe quel niveau)
.next/
out/
build/

# coverage reports
coverage/

# macOS
.DS_Store

# certificats
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# fichiers d'environnement
.env
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts